<!-- Vul dit bestand verder aan, zodat het samenwerkt met layout.html, vergeet ook de titel niet -->
<!-- Zorg dat voor elk spel (dat met een letter a begint) een macro opgeroepen wordt om het spel weer te geven. -->
{%  extends "layout.html" %}
{% block inhoud %}
<h1>Instellingen</h1>
    <h2>Persoonlijke gegevens</h2>
    <form action="instellingen.html" method="post">
    <table>
        <tr><td>Naam</td><td><input type="text" name="naam"></td></tr>
        <tr><td>Voornaam</td><td><input type="text" name="voornaam"></td></tr>
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>
        <tr><td>Tel</td><td><input type="tel" name="tel"></td></tr>
        <tr><td>Gebruikersnaam</td><td><input type="tel" name="gn"></td></tr>
        <tr><td>Wachtwoord</td><td><input type="tel" name="ww"></td></tr>
    </table>
    <hr>
    <h2>Aquarium gegevens</h2>
    <table>
        <tr><td>Lengte</td><td><input type="number" name="lengte"></td></tr>
        <tr><td>Breedte</td><td><input type="number" name="breedte"></td></tr>
        <tr><td>Hoogte</td><td><input type="number" name="hoogte"></td></tr>
    </table>
    <input type="submit" name="opslaan" value="opslaan">
    </form>
{% endblock %}