<!-- DIT BESTAND ZAL DE BASIS VORMEN VOOR ALLE ANDERE TEMPLATES -->

<!-- Zorg dat elk bestand een juiste title krijgt -->
<!-- Koppel style.css aan dit bestand -->
<!-- Bouw een navigatie op door gebruik te maken van een macro (zie macros/macro.html voor meer uitleg) -->
<!-- Zorg dat je onder de navigatie ook nog extra gegevens kan inladen -->
{% import "macros/macro.html" as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="title">Aqua Aquariums</div>
    <main>
    <ul class="navigation">
        <li><a href="{{ url_for("index") }}"> Afmelden</a></li>
    </ul>
        <!--<nav>-->
            <ul class="navigation">
                <li><a href="{{ url_for("home2") }}">Temperatuur bekijken</a></li>
                <li><a href="{{ url_for("aanpassen") }}">temperatuur aanpassen</a></li>
                <li><a href="{{ url_for("instellingen") }}">Instelling</a></li>
            </ul>
       <!-- </nav>-->
    <hr>
    <div id="inhoud">
        {% block inhoud %}
        {% endblock %}
    </div>
    </main>
</body>
</html>